QLineEdit {
    background-color: #f2d9d9;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
}

* {
    background-color: #fffef6;
    color: black;
    font-size: 16px;
    padding: 10px;
}

QPushButton {
    background-color: #2b3c56;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
#feedback {
    color: red;
    font-size: 10px;
}
